*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
html {
  font-size: 62.5%;
  line-height: 62.5%;
  height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div,
a,
ul,
li,
img,
header,
article,
section,
main,
footer,
button {
  margin: 0;
  padding: 0;
  border: 0 none;
}

header,
article,
section,
main,
footer {
  display: block;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

body,
html {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  line-height: 1.5385;
  color: #48556a;
}

h1 {
  font-size: 1.6rem;
  line-height: 1.25;
  font-weight: 700;
}

p {
  margin: 0;
  margin-bottom: 3rem;
}

.btn--icon {
  width: 3.2rem;
  height: 3.2rem;
  border: none 0;
  border-radius: 50%;
  background-color: #ecf2f8;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.text--bold {
  font-weight: 700;
}

.text--light {
  color: #9eafc2;
}

.list--horizontal {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.article__body {
  height: 100%;
  width: 100%;
  background-color: #ecf2f8;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.article__container {
  font-size: 1.3rem;
  width: 327px;
  position: relative;
}
.article__preview {
  background-color: #fff;
  overflow: hidden;
  border-radius: 0.8rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}
.article__image {
  height: 0;
  overflow: hidden;
  padding-top: 61.1620795107%;
  position: relative;
  width: 100%;
}
.article__image img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.article__text {
  padding: 40px 32px 20px 32px;
}
.article__header {
  margin-bottom: 2.4rem;
}
.article__content {
  color: #6d7f97;
}
.article__footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  line-height: 1;
}

.author__picture {
  flex: 0 0 4rem;
  overflow: hidden;
  border-radius: 50%;
}
.author__picture img {
  width: 100%;
  height: auto;
}
.author__info {
  flex: auto;
  padding: 0 1.6rem;
}
.author__info p {
  margin: 0;
}
.author__info p:first-child {
  margin-bottom: 0.8rem;
}

.share__block {
  flex: 0 0 32px;
}
.share__container {
  position: absolute;
  overflow: hidden;
  background-color: #48556a;
  left: 0;
  bottom: 0;
  width: 0;
  padding: 16px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  transition: all ease-out 0.25s;
  opacity: 0;
}
.share__container.active {
  opacity: 1;
  width: 100%;
  padding: 16px 32px;
}
.share__options {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  line-height: 1;
}
.share__text {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: #ecf2f8;
  margin-right: 22px;
}
.share__list li {
  margin-right: 1.6rem;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 2rem;
    line-height: 1.4;
  }

  p {
    margin-bottom: 2.4rem;
  }

  .desktop--hide {
    display: none;
  }

  .article__preview {
    flex-flow: row nowrap;
  }
  .article__container {
    width: 730px;
  }
  .article__text {
    padding: 40px 40px 32px 40px;
  }
  .article__image {
    flex: 0 0 285px;
    padding-top: unset;
    height: 100%;
  }
  .article__image img {
    width: auto;
    height: 100%;
  }

  .share__container {
    position: absolute;
    overflow: unset;
    left: unset;
    bottom: 106px;
    right: -58px;
    width: unset;
    padding: 18px 36px;
    border-radius: 0.8rem;
  }
  .share__container::after {
    content: "";
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    transform: translateX(-50%) rotateZ(45deg);
    background-color: inherit;
    bottom: -9px;
    left: 50%;
  }
  .share__container.active {
    width: unset;
    bottom: 96px;
  }
  .share__options {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    line-height: 1;
  }
  .share__text {
    font-size: 1.3rem;
    text-transform: uppercase;
    color: #ecf2f8;
    margin-right: 22px;
  }
  .share__list li {
    margin-right: 1.6rem;
  }
  .share__list li:last-child {
    margin-right: 0;
  }
}

/*# sourceMappingURL=style.css.map */
